<% layout('layout/boilerplate') %>
    <div class="row">
            <div class="col-6 offset-3" style="width: 100%; transform: translateX(-25%);">
                <div class="card mb-3" >
                    <img src="<%= pin.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= pin.title %></h5>
                        <p class="card-text"><%= pin.description %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted"><%= pin.location %></li>
                        <li class="list-group-item">$<%= pin.price %>/night</li>
                    </ul>
                    <div class="card-body">
                        <a class="card-link btn btn-primary" href="/earthExplorer/<%= pin._id %>/edit">Edit</a>
                        <form class="d-inline" action="/earthExplorer/<%= pin._id %>?_method=Delete" method="POST">
                            <button class="btn btn-danger" >Delete Pin</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
    </div>

<!-- <footer>
    <a href="/earthExplorer/<%= pin._id %>/edit">Edit</a>
    <a href="/earthExplorer">All PlanetPins</a>
    <form action="/earthExplorer/<%= pin._id %>?_method=Delete" method="POST">
        <button>Delete Pin</button>
    </form>
</footer> -->



    <!-- 
    <h1>
        <%= pin.title %>
    </h1>
    <h2>
        <%= pin.location %>
    </h2>
    <img src="<%= pin.image %>" alt="image">
    <p>
        <%= pin.description %>
    </p> -->