<% layout('layout/boilerplate') %>
    <h1>
        <%= pin.title %>
    </h1>
    <h2>
        <%= pin.location %>
    </h2>
    <img src="<%= pin.image %>" alt="image">
    <p><%= pin.description %></p>
    <footer>
        <a href="/earthlyExplorer/<%= pin._id %>/edit">Edit</a>
        <a href="/earthlyExplorer">All PlanetPins</a>
        <form action="/earthlyExplorer/<%= pin._id %>?_method=Delete" method="POST">
            <button>Delete Pin</button>
        </form>
    </footer>