<% layout('layout/boilerplate') %>
<div class="row" style="width: 70%; align-items: center; height: 70%; margin: auto; margin-top: 4%;">
    <h1 class="text-center customFont" style="font-weight: 600;">Edit The Planet Pin</h1>
    <div class="col-12">
        <form action="/earthExplorer/<%= pin._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label customFont" for="title" style="font-weight: 600;">Title</label>
                <input class="form-control" type="text" id="title" name="earthExplorer[title]"  value="<%= pin.title %>" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label customFont" for="location" style="font-weight: 600;">Location</label>
                <input class="form-control" type="text" id="location" name="earthExplorer[location]"  value="<%= pin.location %>" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3 custom-file">
                <label class="form-label customFont" for="image" style="font-weight: 600;">Add Images</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>

            <div class="mb-3">
                <label class="form-label customFont" for="price" style="font-weight: 600;">Planet Pin Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input id="price" type="number" class="form-control" placeholder="0.00" aria-label="price"
                        aria-describedby="basic-addon1" name="earthExplorer[price]" step="0.01" min="0" max="9999999999999" value="<%= pin.price %>" required>
                </div>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label customFont" for="description" style="font-weight: 600;">Description</label>
                <textarea class="form-control" type="text" id="description" name="earthExplorer[description]" rows="8" required><%= pin.description %></textarea>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <% if(pin.images.length > 1){ %>
                <div class="mb-3 d-flex" style="width: 100%; justify-content: space-evenly;">
                    <% pin.images.forEach((img, i) => { %>
                        <div class="d-flex flex-column align-items-center" style="max-width: 200px;"> 
                            <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="" >
                            <div class="form-check-inline d-flex align-items-center" style="margin-top: 5px;"> 
                                <input type="checkbox" class="form-check-input" style="width: 20px; height: 20px;" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                                <label for="image-<%= i %>" class="ms-2" style="user-select: none; font-weight: 700; transform: translateY(2px);">Delete?</label>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } %>

            <div class="mb-3 d-flex align-items-center">
                <button class="btn btn-success btn-normal customFont">Update The Planet Pin</button>
                <a href="/earthExplorer/<%= pin._id %>" style="margin-left: 20px; font-weight: 700;" class="customFont">Back To PlanetPin</a>
            </div>
        </form>

    </div>
</div>
