<% layout('layout/boilerplate') %>
<div class="row" style="width: 70vw;">
    <h1 class="text-center">Edit The Planet Pin</h1>
    <div class="col-12">
        <form action="/earthExplorer/<%= pin._id %>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">title</label>
                <input class="form-control" type="text" id="title" name="earthExplorer[title]"  value="<%= pin.title %>" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="location" name="earthExplorer[location]"  value="<%= pin.location %>" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="earthExplorer[image]"  value="<%= pin.image %>" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Planet Pin Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input id="price" type="number" class="form-control" placeholder="0.00" aria-label="price"
                        aria-describedby="basic-addon1" name="earthExplorer[price]" step="0.01" min="0" max="9999999999999" value="<%= pin.price %>" required>
                </div>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="earthExplorer[description]" rows="20" required><%= pin.description %></textarea>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Update The Planet Pin</button>
            </div>
        </form>
        <a href="/earthExplorer/<%= pin._id %>">Back To PlanetPin</a>
    </div>
</div>



<!-- <% layout('layout/boilerplate') %>
    <h1>Edit The PlanetPin</h1>
    <form action="/earthExplorer/<%= pin._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">title</label>
            <input type="text" id="title" name="earthExplorer[title]" value="<%= pin.title %>">
        </div>

        <div>
            <label for="location">location</label>
            <input type="text" id="location" name="earthExplorer[location]" value="<%= pin.location %>">
        </div>

        <button>Update the PlanetPin</button>
    </form>
    <a href="/earthExplorer/<%= pin._id %>">Back To PlanetPin</a> -->